{% extends 'base.html' %} {% block meta %}
<title>Todolist</title>
{% endblock meta %} {% block content %}

<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">To-Do-List </a>
      <button><a href="{% url 'todolist:logout' %}">Logout</a></button>
    </div>
  </div>
</nav>

<form method="POST" action="">
  {% csrf_token %}
  <table>
    <tr>
      <td>Judul:</td>
      <td>{{form.title}}</td>
    </tr>

    <tr>
      <td>Deskripsi:</td>
      <td>{{form.description}}</td>
    </tr>

    <tr>
      <td></td>
      <td><input class="btn submit_btn" type="submit" value="Submit" /></td>
    </tr>
  </table>
</form>
{% endblock content %}
